<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="slots-comp">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `slots-comp`
     * Componenete slots ejemplo
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SlotsComp extends Polymer.Element {
      static get is() { return 'slots-comp'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'slots-comp'
          }
        };
      }
    }

    window.customElements.define(SlotsComp.is, SlotsComp);
  </script>
</dom-module>
